<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joshuasvenson.insectmanager">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="Orchard Pro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Orchard"
            android:label="Orchards" />
        <activity
            android:name=".Insects"
            android:label="Insects" />
        <activity
            android:name=".Diseases"
            android:label="Diseases"/>
        <activity
            android:name=".CodlingMoth"
            android:label="Codling Moth" />
        <activity
            android:name=".RosyAppleAphid"
            android:label="Rosy Apple Aphid" />
        <activity
            android:name=".AppleMagot"
            android:label="Apple Maggot" />
        <activity
            android:name=".PlumCurculio"
            android:label="Plum Curculio" />
        <activity
            android:name=".EuropeanRedMites"
            android:label="EuropeanRedMites" />
        <activity android:name=".AllensOrchard"
            android:label=""/>
        <activity android:name=".AddOrchardForm"
            android:label = "Add Orchard"/>
        <activity
            android:name=".AppleScab"
            android:label="Apple Scab" />
        <activity
            android:name=".FireBlight"
            android:label="Fire Blight" />
        <activity
            android:name=".BlackRot"
            android:label="Black Rot" />
        <activity
            android:name=".CollarRot"
            android:label="Collar Rot" />
        <activity
            android:name=".PowderyMildew"
            android:label="Powdery Mildew" />
        <activity
            android:name=".History"
            android:label= "Spray Schedule" />
        <activity
            android:name=".Weather1"
            android:label="Local Weather" />
        <activity
            android:name=".BioFix"
            android:label="Biofix" />
        <activity android:name=".BiofixList"
            android:label="Add Biofix"/>
        <activity android:name=".SpraySchedule" />
        <activity android:name=".Calculations"
            android:label="Calculations"/>
        <activity android:name=".OrchardWeather"
            android:label="My Orchard's Weather"/>
        <activity android:name=".OrchardSettings"
            android:label="Orchard Settings"/>
        <activity android:name=".SettingsToolbar"
            android:label="Settings Toolbar"/>
        <activity android:name=".gpm"
            android:label="Calculate GPM"/>

    </application>

</manifest>